.main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.stepper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stepper-content {
  margin: 10px 0;
  display: flex;
}

.stepper-navigation {
  display: flex;
  justify-content: space-between;
  width: 150px;
  margin-top: 10px;
}

.step {
  color: gray;
  display: flex;
}

.step.current .round-index {
  background-color: rgb(10, 84, 109);
  color: white;
}

.separator {
  margin: 0 2px;
}

.round-index {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: lightgray;
  color: black;
  margin-right: 5px;
  padding: 2px;
}

.component-wrapper{
  margin-top: 10px;
}
.error-message{
  border: 1px solid red;
  padding: 2px;
  margin: 2px;
}
